{{- $machines := list "PinaMac" "ubuntu" "debian" "fedora" -}}
{{- $machine := promptStringOnce . "machine" "machine" "unknown" -}}

{{- if not (has $machine $machines) -}}
  {{- writeToStdout (printf "Invalid machine value: %q. Please choose from: %s\n" $machine ($machines | join ", ")) -}}
  {{- exit 1 -}}
{{- end -}}

[data]
machine = "{{ $machine }}"
