#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

echo
log debug 'Activating `mise`...'
eval "$(mise activate bash)"
log success '`mise` is activated'

log debug 'Building `helix`...'

helix_path="$XDG_DATA_HOME/helix"
helix_config_path="$XDG_CONFIG_HOME/helix"
helix_repo="https://github.com/helix-editor/helix"

log debug "Checking for cargo..."
if ! command -v cargo >/dev/null 2>&1; then
  log error '`cargo` is not installed or not in $PATH'
  exit 1
fi

log debug 'Checking if $helix_path exists and is a Git repository...'
if [ -d "$helix_path" ] && [ -d "$helix_path/.git" ]; then
  log debug 'Directory exists and is a Git repo. Pulling latest changes...'
  cd "$helix_path"
  git pull
  cd - >/dev/null
else
  log debug 'Directory does not exist or is not a Git repo. Re-cloning...'
  rm -rf "$helix_path"
  git clone "$helix_repo" "$helix_path"
fi

log debug 'Installing Helix with cargo...'
cd "$helix_path"
cargo install --path helix-term --locked
cd - >/dev/null

log debug 'Linking `helix` runtime directory...'
mkdir -p "$helix_config_path"
rm -rf "$helix_config_path/runtime"
ln -s "$helix_path/runtime" "$helix_config_path/runtime"

log success '`helix` is built.'
