#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

function install() {
  local bin=$1
  shift

  local packages=("${@}")
  local installed_packages="$($bin list)"

  for package in "${packages[@]}"; do
    if ! echo $installed_packages | grep $package &>/dev/null; then
      log info "- \`$package\`..."
      $bin install $package
    fi
  done
}

formulae=("bat" "eza" "fastfetch" "fish" "fzf" "gh" "git" "gnupg" "mas" "mise" "ouch" "scooter" "tmux" "vivid" "yazi" "wget")
casks=("cleanupbuddy" "clop" "crystalfetch" "cyberduck" "discord" "firefox@developer-edition" "font-symbols-only-nerd-font" "ghostty" "google-chrome@dev" "hex-fiend" "httpie" "iina" "jordanbaird-ice" "keepingyouawake" "keka" "kekaexternalhelper" "mac-mouse-fix" "maccy" "messenger" "orion" "pearcleaner" "telegram" "transmission" "utm"
)

app_store_apps=(
  1632827132 # Camera Preview
  1545870783 # Color Picker
  1355679052 # Dropover
  6444667067 # Hyperduck
  1433648537 # Passepartout
  1519867270 # Refined Github
  1596706466 # Speediness
  1481853033 # Strongbox
  1662217862 # Wipr
)

echo
log debug "Installing packages..."

log debug "Installing formulae..."
install brew $(echo "${formulae[@]}")

log debug "Installing casks..."
install brew $(echo "${casks[@]}")

# log info "Installing app store apps..."
# install mas $(echo "${app_store_apps[@]}")

log success 'All package are installed.'
