#!/usr/bin/env bash

set -uf

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

echo
log info 'Installing `mise` packages...'
mise install -y || mise install -y
mise prune -y
log success 'Done installing `mise` packages!'
