#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

shell_path=/opt/homebrew/bin/fish
etc_shells_path=/etc/shells

echo
log debug "Changing the default shell to \"$shell_path\"..."
if [[ "$SHELL" == "$shell_path" ]]; then
  log info "The default shell is already changed to \"$shell_path\"."
else
  if ! grep -q "$shell_path" "$etc_shells_path"; then
    log info "\"${shell_path}\" isn't in \"$etc_shells_path\"! Adding to \"$etc_shells_path\"..."
    echo $shell_path | tee -a $etc_shells_path >>/dev/null
  fi
  chsh -s "$shell_path"
  log success "The default shell is changed to \"$shell_path\"."
fi
