Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3

  # Share SSH connections
  ControlMaster auto
  ControlPersist 600
  ControlPath ~/.ssh/-%r@%h:%p

Host github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

{{ if eq .machine "pinamac" -}}
Host = d
    HostName dev-server
    RequestTTY yes
{{ end }}
