abbr "ash"="autossh -M 0 -q"
abbr "autossh"="autossh -M 0"
{{- if eq .profile "pinamac" }}
abbr "bli"="brew list --installed-on-request"
abbr "blc"="brew list --cask"
{{- end }}
abbr "ls"="eza --hyperlink"
abbr "run-help"="man"
abbr "which-command"="whence"
