#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

echo
log debug 'Activating `mise`...'
eval "$(mise activate bash)"
log success '`mise` is activated'

log debug 'Building `bat` cache...'
bat cache --build --source "$XDG_CONFIG_HOME/bat" >/dev/null
log success '`bat` cache is built!'
