#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

echo
log debug 'Installing mise...'

if ! command -v mise &>/dev/null; then
  curl -s https://mise.run | MISE_VERSION=v2025.5.16 sh >/dev/null
fi

log success '`mise` is installed.'
