[tools]
"cargo:just-lsp" = "latest"
"npm:@microsoft/compose-language-service" = "latest"
"npm:bash-language-server" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:prettier" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"
"pipx:ty" = "latest"

marksman = "latest"
shfmt = "latest"
taplo = "latest"
uv = "latest"
ruff = "latest"
npm = "latest"
pnpm = "latest"
cargo-binstall = "latest"
{{- if eq .chezmoi.os "linux" }}
"cargo:shpool" = "latest"
{{- end }}

node = "24"
python = "3.13"
rust = "1.92"

[settings]
experimental = true
python.uv_venv_auto = false
idiomatic_version_file_enable_tools = ["python"]

[settings.pipx]
uvx = true
