#!/usr/bin/env bash

set -eufo pipefail

{{ template "scripts/env.sh.tmpl" . }}
{{ template "scripts/utils.sh.tmpl" . }}

echo
log debug 'Checking if `exec fish` is already in `~/.bashrc`...'
if grep -q 'exec fish' ~/.bashrc; then
  log warn '`exec fish` already exists in `~/.bashrc`'
else
  log debug 'Adding `exec fish` to `~/.bashrc`...'
  cat >>$HOME/.bashrc <<'EOF'

# Setting fish as interactive shell
if [[ $(/usr/bin/ps --no-header --pid=$PPID --format=comm) != "fish" && -z ''${BASH_EXECUTION_STRING} ]]
then
  shopt -q login_shell && LOGIN_OPTION='--login' || LOGIN_OPTION=""
  exec /usr/bin/fish $LOGIN_OPTION
fi
EOF
  log success '`exec fish` has been added to `~/.bashrc`'
fi
